<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cliente"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <br>
  <br>
  <br>
  <div class="center-image">
    <ion-img src="assets/img/avatar.png" class="header-image"></ion-img>
  </div>
  <ion-item-group class="custom-item-group">
    <p class="custom-info"><strong>Nombre(s):</strong> <span>{{ clienteData.nombre }}</span></p>
    <p class="custom-info"><strong>Apellido(s):</strong> <span>{{ clienteData.apellido }}</span></p>
    <p class="custom-info"><strong>Telefono:</strong> <span>{{ clienteData.telefono }}</span></p>
    <p class="custom-info"><strong>Correo:</strong> <span>{{ clienteData.correo }}</span></p>
    <p class="custom-info"><strong>Password:</strong> <span>{{ clienteData.password }}</span></p>
  </ion-item-group>
</ion-content>
