<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>{{mensaje}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"><ion-accordion-group>
  <ion-accordion *ngFor="let pedido of pedidosPendientes" [value]="pedido.pedido_id">
    <ion-item slot="header" color="tertiary">
      <ion-label>ID Pedido: {{ pedido.pedido_id }}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <p>Dirección: {{ pedido.direccion }}</p>
      <p>Cliente: {{ pedido.cliente.nombre }} {{ pedido.cliente.apellido }}</p>
      <p>Localidad: {{ pedido.cliente.localidad }}</p>
        <ion-item *ngIf="pedido.detalles_pedido.length > 0" lines="full">
          <ion-label>
            Detalles del pedido:
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" *ngFor="let detalle of pedido.detalles_pedido">
          <p>Categoría: {{ detalle.categoria }}</p>
          <p>Subcategoría: {{ detalle.subcategoria }}</p>
          <p>Descripción: {{ detalle.descripcion }}</p>
        </div>
        <ion-item *ngIf="pedido.detalles_pedido.length === 0" lines="full">
          <ion-label>
            No hay detalles para este pedido.
          </ion-label>
        </ion-item>
    </div>
  </ion-accordion>
</ion-accordion-group>

  <ion-accordion-group>
    <ion-accordion *ngFor="let pedido of pedidosPendientes" [value]="pedido.pedido_id">
      <ion-item slot="header" color="tertiary">
        <ion-label>Pedido: {{pedido.pedido_id}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>Nombre: {{pedido.cliente.nombre}}</p>
        <p>Apellido {{pedido.cliente.apellido}}</p>
        <p>Telefono {{pedido.cliente.telefono}}</p>
        <p>Dirección: {{ pedido.direccion }}</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>