<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigatelogin()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{mensaje}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"><ion-accordion-group class="mi-acordeon">
  <ion-accordion *ngFor="let pedido of pedidosPendientes" [value]="pedido.pedido_id"  class="mi-accordion-item">
    <ion-item slot="header" color="tertiary" class="mi-accordion-header">
      <ion-label>Pedido: {{ pedido.pedido_id }}</ion-label>
    </ion-item>
    <div class="ion-padding mi-accordion-content" class="ion-padding" slot="content" >
      <p>Dirección: {{ pedido.direccion }}</p>
      <p>Cliente: {{ pedido.cliente.nombre }} {{ pedido.cliente.apellido }}</p>
      <p>Localidad: {{ pedido.cliente.localidad }}</p>
      <p>Telefono Cliente: {{ pedido.telefono }}</p>
        <ion-item *ngIf="pedido.detalles_pedido.length > 0" lines="full">
          <ion-label>
            Detalles del pedido:
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" *ngFor="let detalle of pedido.detalles_pedido">
          <p>Categoría: {{ detalle.categoria }}</p>
          <p>Subcategoría: {{ detalle.subcategoria }}</p>
          <p>Descripción: {{ detalle.descripcion }}</p>
          <button class="boton ion-button ion-shape-round" (click)="marcarPedidoEntregado(pedido.pedido_id)">Entregado</button>
          <!--<button class="boton" shape="round" (click)="marcarPedidoEntregado(pedido.pedido_id)">Entregado</button>-->
        </div>

    </div>
  </ion-accordion>
</ion-accordion-group>
<ion-item *ngIf="pedidosPendientes.length === 0 " lines="full">
  <ion-label>
    Aun no hay detalles para este pedido.
  </ion-label>
</ion-item>
</ion-content>






<!--<ion-content [fullscreen]="true"><ion-accordion-group>
  <ion-accordion *ngFor="let pedido of pedidosPendientes" [value]="pedido.pedido_id">
    <ion-item slot="header" color="tertiary">
      <ion-label>Pedido: {{ pedido.pedido_id }}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <p>Dirección: {{ pedido.direccion }}</p>
      <p>Cliente: {{ pedido.cliente.nombre }} {{ pedido.cliente.apellido }}</p>
      <p>Localidad: {{ pedido.cliente.localidad }}</p>
        <ion-item *ngIf="pedido.detalles_pedido.length > 0" lines="full">
          <ion-label>
            Detalles del pedido:
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" *ngFor="let detalle of pedido.detalles_pedido">
          <p>Categoría: {{ detalle.categoria }}</p>
          <p>Subcategoría: {{ detalle.subcategoria }}</p>
          <p>Descripción: {{ detalle.descripcion }}</p>
          <button class="boton ion-button ion-shape-round" (click)="marcarPedidoEntregado(pedido.pedido_id)">Entregado</button>
          <button class="boton" shape="round" (click)="marcarPedidoEntregado(pedido.pedido_id)">Entregado</button>
        </div>
        <ion-item *ngIf="pedido.detalles_pedido.length === 0" lines="full">
          <ion-label>
            Aun no hay detalles para este pedido.
          </ion-label>
        </ion-item>
    </div>
  </ion-accordion>
</ion-accordion-group>
</ion-content>-->
