<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/registro">Regístrate</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Iniciar sesión</h1>
    <img src="assets/img/logo.jpg">
  </div>
  <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()" class="form">
    <ion-item class="custom-input">
      <ion-label position="floating">Correo:</ion-label>
      <ion-input formControlName="Correo"></ion-input>
    </ion-item>
    <ion-item class="custom-input">
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-button shape="round" type="submit" expand="full" class="custom-button">Iniciar sesión</ion-button>
  </form>
</ion-content>