<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBackToClientePage()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edita Tu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Edita Tu Perfil</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <!-- Mostrar datos del cliente -->
        <ion-item class="custom-item">
          <ion-input aria-label="Success input" color="success" type="text" label="Nombre(s):" placeholder="{{clienteData.nombre}}" class="custom-input" [(ngModel)]="clienteData.nombre" name="nombre"></ion-input>
        </ion-item>
        <ion-item class="custom-item">
          <ion-input aria-label="Success input" color="success" type="text" label="Apellido(s):" placeholder="{{clienteData.apellido}}" class="custom-input" [(ngModel)]="clienteData.apellido" name="apellido"></ion-input>
        </ion-item>
        <ion-item class="custom-item">
          <ion-input aria-label="Success input" color="success" type="number" label="Teléfono:" placeholder="{{clienteData.telefono}}" class="custom-input" [(ngModel)]="clienteData.telefono" name="telefono"></ion-input>
        </ion-item>
        <ion-item class="custom-item">
          <ion-input aria-label="Success input" color="success" type="text" label="Contraseña:" placeholder="{{clienteData.password}}" class="custom-input" [(ngModel)]="clienteData.password" name="password"></ion-input>
        </ion-item>
        <br>
        <!-- Botón para actualizar perfil -->
        <ion-button (click)="actualizarPerfil()" expand="full" shape="round" color="success" class="custom-button">Actualizar</ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Agrega Otra Direccion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-header><h6>Nueva Dirección</h6></ion-header>
        <form (ngSubmit)="agregarNuevaDireccion()">
          <ion-item class="custom-item">
            <ion-label position="floating">Direccion</ion-label>
            <ion-input [(ngModel)]="nuevaDireccion" name="nuevaDireccion" aria-label="Success input" color="success" type="text" class="custom-input"></ion-input>
          </ion-item>

          <ion-button type="submit" expand="full"  shape="round" color="success" class="custom-button">Guardar</ion-button>
        </form>
      </div>
    </ion-accordion>
    <ion-accordion value="elimina">
      <ion-item slot="header" color="light">
        <ion-label>Elimina Una Direccion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ng-container *ngFor="let direccion of direcciones">
          <ion-label>
            <p>{{ direccion.direccion }}
              <ion-button (click)="eliminarDireccion(direccion.id_dire)" color="danger">Eliminar</ion-button>
            </p>
          </ion-label>
        </ng-container>
        <div *ngIf="direcciones.length === 0">
          <p>No hay direcciones disponibles para este cliente.</p>
        </div>
      </div>
    </ion-accordion>           
  </ion-accordion-group>
</ion-content>
