ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }
  .custom-header {
    background-color: #3880ff; 
    color: #fff; 
    ion-toolbar {
        background-color: #3880ff; 
        padding: 10px; 
      }
}
.pedido-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
}

.pedido-info ion-icon {
  margin-right: 5px;
  font-size: 20px; /* Ajusta el tamaño del ícono según tus preferencias */
}

/* Agrega más estilos según sea necesario */
